{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">I’m Abdurrehman Afridi, A Full Stack Python Web Developer.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <p>I’m also a general doodler with a keen eye for creating engaging UI, bringing
                products to life.</p>
            <p>I occasionally take on freelance opportunities, and am available for hiring.
                Have an exciting project where you need some help?
                Send me over a message, and let's chat.</p>
        </div>
    </div>
</div>

<hr>

{% include "footer.html" %}